body {
     background-color: burlywood;
 }

.leegRond {
    list-style-type: circle;
}

.volrond {
    list-style-type: disc;
}

.vierkant {
    list-style-type: square;
}

.decimaal {
    list-style-type: decimal-leading-zero;
}

.lower {
    list-style-type: lower-alpha;
}

.roman {
    list-style-type: lower-roman;
}

.boord {
    border-style: dashed;
}